// COLORS 
$purple: #441E63;
$lightpurple: rgba(68, 30, 99, .4);
$green: #41A068;
$darkgrey: #555;
$lightgrey: #888;
$verylightgrey: #ddd;
$gradientLR: linear-gradient(to right, #41a068, #008986, #006c9a, #004a90, #441e63);
$gradientTB: linear-gradient(to bottom, #41a068, #008986, #006c9a, #004a90, #441e63);

// FONTS
$font: 'Roboto', sans-serif;
$light: 300;
$regular: 400;
$medium: 500;
$bold: 700;
$paragraph: .8rem;
$header: 3rem;
$subheader: 1.3rem;